.status-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.7;

  display: flex;
  justify-content: space-between;
  color: #888888;
}
.status-bar .status-bar__column {
  margin: 8px 20px;
}
.status-bar i {
  font-size: 14px;
}

.status-bar .stuts-bar__battery-level {
  margin-left: 5px;
}
